<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/post.css">
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
<header>  
<nav class="navbar">
    <img src="../images/logo.png" alt="logo" class="logo">
    <ul >
        <li class="nav--items"><a href="/"><span>Home</span></a></li>
        <li><a href="/add-post"><span>Add Post</span></a></li>
        <li><a href="/about"><span>About</span></a></li>
        <li><a href="/contact"><span>Contact</span></a></li>

    </ul>
</nav>
</header>  
<main class="container">